Tarefas/Tarefa1/Dataset_Kaggle/AI_Human.zip filter=lfs diff=lfs merge=lfs -text
Tarefas/Tarefa3/data/glove.6B.100d.txt filter=lfs diff=lfs merge=lfs -text
Tarefas/Tarefa3/embedding_flat_dnn_s1/trained_model.keras filter=lfs diff=lfs merge=lfs -text
